langchain 
langchain-classic
langchain-openai
langchain-ollama
langchain-groq
langchain-core
langchain-community
langgraph
langsmith
python-dotenv
mlflow[genai]
streamlit
pyvis
faiss-cpu
PyPDF2
pypdf
pdfplumber 
transformers